<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xq.myfragment">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/XuQiangStyle">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.replace.ReplaceActivity" />
        <activity android:name=".activity.hideshow.HideShowActivity" />
        <activity android:name=".activity.hideshow2.HideShowActivity2" />
        <activity android:name=".activity.viewpager.ViewPagerActivity" />
        <activity android:name=".activity.viewpager2.ViewPagerActivity2" />
        <activity android:name=".activity.tabvp.TabVpActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".activity.bottomnavi.BottomNavigationActivity" />
        <activity android:name=".activity.radiogroup.RadioGroupActivity" />
    </application>

</manifest>